@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .topbar-menu {
    @apply bg-gray-300 text-black  scale-0 absolute  w-auto p-2 m-2 rounded-xl duration-500;
  }
  html {
    @apply text-black dark:text-white text-center;
  }
  .AboutP {
    @apply mt-4 xl:mt-8 text-lg max-w-2xl mx-4 xl:mx-auto leading-relaxed;
  }
  .SI {
    @apply px-2 py-1.5 my-1.5 rounded-md xl:px-2 xl:py-2 xl:my-2 text-black placeholder-gray-400;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
    -webkit-text-fill-color: white !important;
  }
}
